p {
  font-size: 1.5rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

.about {
  width: 100%;
  gap: 2rem;

  border: 1px solid lightgray;
  border-radius: 0.5rem;
  margin: 1rem 0 1rem 0;

  .description {
    width: 50%;
  }
}

.AssignmentSection {
  a {
    text-decoration: none;
    color: black;
    h1 {
      border: 1px solid lightgray;
      border-radius: 0.5rem;
      &:hover {
        background-color: lightgray;
      }
    }
  }
  margin-bottom: 5rem;
}

.carousel-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: lightgray;
  color: white;
}

.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
  background-color: gray;
}

.A2-Description-Image {
  border-radius: 2rem;
}
