/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 1.5rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

.about {
  width: 100%;
  gap: 2rem;

  border: 1px solid lightgray;
  border-radius: 0.5rem;
  margin: 1rem 0 1rem 0;
}
.about .description {
  width: 50%;
}

.carousel-img-container,
.carousel-img-container-row,
.carousel-img-container-column {
  width: 50%;
  height: 50%;

  img {
    border-radius: 1rem;
  }
}
.carousel-text-container {
  width: 50%;
}

.rotate-img {
  transform: rotate(270deg);
}

.a2-description {
  margin: 1rem;

  gap: 2rem;
  .column {
    width: 50%;
  }
}
.a2-description-image {
  border-radius: 2rem;
}

.a2-security {
  margin: 1rem;

  gap: 2rem;
  .column {
    width: 50%;
  }
}

.initial-sketch-descriptions {
  .column {
    width: 15%;
  }
}

.detailed-page-descriptions {
  align-items: flex-start;
  justify-content: center;

  .column {
    width: 33%;
  }
}

.storyboard {
  width: 100%;
}

.columns-with-borders {
  border: 1px black solid;
  /* background: green; */
  width: 80%;
}

.columns-with-borders .column:not(:last-child) {
  border-right: 1px solid black;
}

.columns-with-borders .column:first-child {
  /* background: red; */
  border-radius: 1rem 0 0 1rem;
}
.columns-with-borders .column:last-child {
  border-radius: 0 1rem 1rem 0;
}
